<div id="PackageSelection">
	<div class="head"><ui-image src="basic_interface/titlebar_mid.bmp"></ui-image><span class="title"></span></div>
	<p>Choose one reward set:</p>
	<div class="groups"></div>
	<div class="actions">
		<ui-button
			class="confirm"
			aria-label="Confirm selection"
			bg="btn_ok.bmp"
			hover="btn_ok_a.bmp"
			down="btn_ok_b.bmp"
		></ui-button>
		<ui-button
			class="cancel"
			aria-label="Cancel"
			bg="btn_cancel.bmp"
			hover="btn_cancel_a.bmp"
			down="btn_cancel_b.bmp"
		></ui-button>
	</div>
</div>
